# World Health Sensor Project

**By Carol Calderon**

Jun 2023

## Objective

Using The Global Health Observatory OData API to fetch data from it's data collection. Analyze the data using data science techniques and create an interactive dashboard to visualize and explore the insights.

## Project steps:

1. **Select the Data Source:** Determine the specific OData API that provides the data needed for the analysis. Explore available public datasets. Determine the analysis goals.

2. **Understand the API:** Study the documentation of the OData API to understand its endpoints, query parameters, and how to retrieve data. Identify the available resources, data models, and relationships between entities.

3. **Retrieve and Preprocess Data:** Use the OData API to fetch the required data based on the analysis goals. Apply data preprocessing steps like cleaning, filtering, and transforming the data as necessary to prepare it for analysis.

3. **Analyze the Data:** Utilize data science techniques and libraries such as pandas, NumPy, or scikit-learn to perform exploratory data analysis (EDA), statistical analysis, visualizations, or machine learning tasks. Extract meaningful insights and identify patterns or correlations in the data. Select the appropriate visualization tool like Matplotlib, Seaborn, or Plotly to create interactive and informative visualizations.

4. **Design the Dashboard:** Design the user interface and layout of the dashboard using libraries like Dash, Streamlit, or Tableau. Create an intuitive and user-friendly dashboard that allows users to interact with the visualizations, apply filters, and explore the data dynamically.

5. **Deploy the Dashboard:** Host the dashboard on a web server or a cloud platform to make it accessible online. This could involve deploying it as a web application or utilizing cloud hosting services like Heroku or AWS. **Test and Iterate:** Test the functionality and usability of the dashboard, seeking feedback from potential users. Iterate on the design and make improvements based on user input and additional data analysis requirements.

## Project Tools:
    
Data Source: 

- The Global Health Observatory <https://www.who.int/data/gho>
- OData API documentation: <https://www.who.int/data/gho/info/gho-odata-api>

Retrieve the data: 

- **requests** or **urllib** to make HTTP requests to the OData API and retrieve the data.
- Pandas: Perform data preprocessing, cleaning, filtering, and transformation using the powerful data manipulation capabilities of pandas.

Analyze the Data:

- Pandas: Utilize pandas for exploratory data analysis (EDA), data wrangling, and statistical analysis on the retrieved data.
- NumPy: Use NumPy for numerical computations and mathematical operations.

Visualization Tools:

- Matplotlib: Create static visualizations such as line plots, bar charts, and scatter plots.
- Seaborn: Build aesthetically pleasing and informative statistical visualizations.
- Plotly: Develop interactive and customizable visualizations, including interactive charts and dashboards.

Design the Dashboard:

- Dash: Build interactive web-based dashboards using Python and HTML components.

Deploy the Dashboard:

- GitHub pages

Test and Iterate:

- User feedback and testing: Gather feedback from potential users and testers to improve the functionality and user experience of your dashboard.
- Jupyter Notebook or documentation: Document the project, including the data analysis process, code, and key findings.

### 1. Select the Data Source

What I found exploring the GHO Data Collection:

- The GHO data repository serves as the World Health Organization's (WHO) portal to health-related statistics concerning its 194 Member States.
- The Data could be explored by Theme, Category or Indicator.
- The GHO data repository offers access to a wide range of health indicators, exceeding 2000 in number. 
- Indicators cover crucial health topics such as mortality, disease burden, Millennium Development Goals, non-communicable diseases, infectious diseases, health systems, environmental health, violence, injuries, and equity, among others.
- Several indicators do not contain data or the data is not updated or completed.

### 2. Understanding the API

Study the documentation of the OData API to understand its endpoints, query parameters, and how to retrieve data. Identify the available resources, data models, and relationships between entities.

About the API:

The Global Health Observatory (GHO) is constructed using a technology called RESTful web service. REST stands for Representational State Transfer, which is an architectural style used to design networked applications. In this context, GHO uses RESTful web services as the underlying technology to provide access to its data.

RESTful web services use standard HTTP methods (such as GET, POST, PUT, DELETE) to interact with resources (data) over the internet. These resources are identified by URLs, and the web service responds with data in a structured format, often in JSON or XML.

By using a RESTful web service, the Global Health Observatory can allow users to easily retrieve health-related data through standard web protocols, making it accessible and interoperable across various platforms and programming languages. This approach enables efficient data access and manipulation, making it convenient for data analysts and developers to fetch and utilize the health data provided by the GHO.

- The documentation is clear and extensive.

### 3. Retrieve and Preprocess Data: 

Use the OData API to fetch the required data based on the analysis goals. Apply data preprocessing steps like cleaning, filtering, and transforming the data as necessary to prepare it for analysis.

### 3.1 Retrieving

In [1]:
# Import the libraries

import pandas as pd
import requests
import json

GET request to obtain the dimension data directly from the Global Health Observatory API

#### Retrieving all Dimension Values for Country dimension

In [2]:
# Send a GET request to the API endpoint
url = "https://ghoapi.azureedge.net/api/DIMENSION/COUNTRY/DimensionValues"
response = requests.get(url)

# Check the response status code
if response.status_code == 200:
    resp = response.json()
    data_countries = resp['value']
    # Process the data as needed
    for item in data_countries:
        value = item
    print('Request Successful')
        # Process each item in the data

else:
    print("Request failed with status code:", response.status_code)

Request Successful

In [3]:
# Create a countries DataFrame
countries = pd.DataFrame(data_countries)
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Code             248 non-null    object
 1   Title            248 non-null    object
 2   ParentDimension  242 non-null    object
 3   Dimension        248 non-null    object
 4   ParentCode       242 non-null    object
 5   ParentTitle      242 non-null    object
dtypes: object(6)
memory usage: 11.8+ KB

In [4]:
countries.head(5)

,Code,Title,ParentDimension,Dimension,ParentCode,ParentTitle
0,ABW,Aruba,REGION,COUNTRY,AMR,Americas
1,AFG,Afghanistan,REGION,COUNTRY,EMR,Eastern Mediterranean
2,AGO,Angola,REGION,COUNTRY,AFR,Africa
3,AIA,Anguilla,REGION,COUNTRY,AMR,Americas
4,ALB,Albania,REGION,COUNTRY,EUR,Europe

In [5]:
print(f'There are {countries.shape[0]} countries in the data')

There are 248 countries in the data

#### Retrieving all Indicators (list of indicators)

In [6]:
# Send a GET request to the API endpoint
url = "https://ghoapi.azureedge.net/api/Indicator"
response = requests.get(url)

# Check the response status code
if response.status_code == 200:
    resp = response.json()
    data_indicators = resp['value']
    # Process the data as needed
    for item in data_indicators:
        value = item
        value #print to see values
        # Process each item in the data

else:
    print("Request failed with status code:", response.status_code)

In [7]:
# Create a indicators DataFrame

indicators = pd.DataFrame(data_indicators)

indicators.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2342 entries, 0 to 2341
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   IndicatorCode  2342 non-null   object
 1   IndicatorName  2342 non-null   object
 2   Language       2342 non-null   object
dtypes: object(3)
memory usage: 55.0+ KB

In [8]:
pd.set_option('display.max_colwidth', None)
indicators.sample(10)

,IndicatorCode,IndicatorName,Language
1074,RSUD_41,Specialized treatment services for drug use disoders and HIV/AIDS,EN
2237,NCD_CCS_SALT_TARGET,Existence of a national target on salt,EN
2248,PRISON_F1_EXERCISE_TOT,In-prison people who regularly exercise for a minimum of 150 minutes/week (number of prisoners),EN
1928,NCD_CCS_ESS_MEDS_TECH_TARGET,Existence of a national target on essential medicines and technologies,EN
209,GDO_q12x2x1x1_3PUB,Majority provider of respite care for dementia carers (Public sector),EN
1034,RSUD_200,Confidentiality of people in treatment for substance use disorders,EN
1665,TB_c_mdr_tsr,Treatment success rate for patients treated for MDR-TB (%),EN
1293,SA_0000001511,Advertising restrictions in print media,EN
2208,NCD_HYP_DIAGNOSIS_C,"Prevalence of previous diagnosis of hypertension among adults aged 30-79 with hypertension, crude",EN
48,Camp_mat_tested,Campaign was pre-tested,EN

In [9]:
print(f'There are {indicators.shape[0]} indicators in the data')

There are 2342 indicators in the data

The number of indicators is really high. Previous exploration of the data (directly in the website) showed that a lot of those indicators do not contain updated data or have several NaN values.

<div class="alert alert-block alert-info">
<b></b>  The initial personal motivation to build this project came from the curiosity about the trend in Tobacco consumption and global tobacco control initiatives, then I dove deeper into this group of indicators.

#### Retrieving Tobacco indicators

In [10]:
# Looking for the indicators related with 'Tobacco'

Tobacco_indicators = indicators[indicators['IndicatorName'].str.contains('tobacco', case=False)]

Tobacco_indicators

,IndicatorCode,IndicatorName,Language
47,Camp_gov_prog,Campaign was part of a comprehensive tobacco control programme,EN
104,E_Group,"Enforcing bans on tobacco advertising, promotion and sponsorship",EN
109,E11_brand_stretching,Ban on non-tobacco goods AND services identified with tobacco brand names,EN
110,E11_compliance,Compliance of ban on non-tobacco goods AND services identified with tobacco brand names,EN
111,E12_brand_sharing,Ban on brand name of non-tobacco products used for tobacco product,EN
...,...,...,...
2286,M_Est_tob_curr_std,Estimate of current tobacco use prevalence (%) (age-standardized rate),EN
2299,Adult_daily_tob_smoking,Prevalence of daily tobacco smoking among adults (%),EN
2313,E_compl_e11,Compliance with ban on use of brand name of non-tobacco product for tobacco product (score),EN
2324,Adult_daily_tob_use,Prevalence of daily tobacco use among adults (%),EN
2329,M_Est_smk_curr_std,Estimate of current tobacco smoking prevalence (%) (age-standardized rate),EN

In [11]:
Tobacco_indicators.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137 entries, 47 to 2329
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   IndicatorCode  137 non-null    object
 1   IndicatorName  137 non-null    object
 2   Language       137 non-null    object
dtypes: object(3)
memory usage: 4.3+ KB

There are 137 indicators related with 'Tobacco', I'll choose some on them to explore the data available

In [12]:
# Let's explore indicator related with prevalence

Tobacco_prevalence = Tobacco_indicators[Tobacco_indicators['IndicatorName'].str.contains('prevalence', case=False)]

Tobacco_prevalence

,IndicatorCode,IndicatorName,Language
614,M_Est_tob_curr,Estimate of current tobacco use prevalence (%),EN
1941,Adult_curr_smokeless,Prevalence of current smokeless tobacco use among adults (%),EN
1995,Yth_daily_smokeless,Prevalence of daily smokeless tobacco use among adolescents (%),EN
2058,M_Est_smk_curr,Estimate of current tobacco smoking prevalence (%),EN
2062,Adult_daily_smokeless,Prevalence of daily smokeless tobacco use among adults (%),EN
2107,Yth_daily_tob_smoking,Prevalence of daily tobacco smoking among adolescents (%),EN
2140,Adult_curr_tob_smoking,Prevalence of current tobacco smoking among adults (%),EN
2143,Yth_curr_smokeless,Prevalence of current smokeless tobacco use among adolescents (%),EN
2159,Adult_curr_tob_use,Prevalence of current tobacco use among adults (%),EN
2234,Yth_curr_tob_use,Prevalence of current tobacco use among adolescents (%),EN
2252,Yth_curr_tob_smoking,Prevalence of current tobacco smoking among adolescents (%),EN
2286,M_Est_tob_curr_std,Estimate of current tobacco use prevalence (%) (age-standardized rate),EN
2299,Adult_daily_tob_smoking,Prevalence of daily tobacco smoking among adults (%),EN
2324,Adult_daily_tob_use,Prevalence of daily tobacco use among adults (%),EN
2329,M_Est_smk_curr_std,Estimate of current tobacco smoking prevalence (%) (age-standardized rate),EN

In [13]:
print(f'There are {Tobacco_prevalence.shape[0]} indicators related with tobacco and prevalence')

There are 15 indicators related with tobacco and prevalence

I used a for loop to write the urls and explore the data in all the indicators within the word 'Prevalence', the process is available in the extended version on GitHub. Finally, the indicator I decided to use was **M_Est_smk_curr_std == Estimate of current tobacco use prevalence (%)**

#### Comment about the exploration of the API and the indicators content.

 Here are some of conclusions of that exploration:

The API is working accordingly and I am pulling the data. Nevertheless the GHO website is not totally coherent with the list of indicators I am working with through the API. This add complexity to the process, considering it is relevant to find the indicator description.

This indicators are listed in [Old GHO indicators list](https://apps.who.int/gho/data/node.imr#ndx-P) :

  - Estimate of current tobacco use prevalence (%) (age-standardized rate) (Tobacco control)
  - Estimate of current tobacco smoking prevalence (%) (age-standardized rate) (Tobacco control)
  - Estimate of current cigarette smoking prevalence (%) (age-standardized rate) (Tobacco control)
  - Estimate of daily tobacco use prevalence (%) (age-standardized rate) (Tobacco control)
  - Estimate of daily tobacco smoking prevalence (%) (age-standardized rate) (Tobacco control)
  - Estimate of daily cigarette smoking prevalence (%) (age-standardized rate) (Tobacco control)

However, there is not `Estimate of current tobacco use prevalence (%)` especific description. Perhaps, this indicator could include same data than `Estimate of current tobacco use prevalence (%) (age-standardized rate)` having additional data in the last one?

[Old GHO indicators list](https://apps.who.int/gho/data/node.imr#ndx-P) links `Estimate of current tobacco use prevalence (%) (age-standardized rate)` to `Prevalence of current tobacco use among persons aged 15 years and older (age-standardized rate)` in the [New GHO indicators list](https://www.who.int/data/gho/indicator-metadata-registry/imr-details/prevalence-of-current-tobacco-use-among-persons-aged-15-years-and-older-(age-standardized-rate)).

The indicators are divided in two groups, those that start with `Estimate` word and `Prevalence` word.

Checking the [GHO indicators list](https://www.who.int/data/gho/data/indicators/indicators-index) there is not description of the indicators that start with 'Prevalence' word.

And the indicators I found in the [Old GHO indicators list](https://apps.who.int/gho/data/node.imr#ndx-P) redirect to the same data: WHO Global Report on Trends in Tobacco Smoking 2000-2025, the WHO Global Health Observatory and the Implementation Database of the WHO FCTC available [here](https://www.who.int/data/gho/data/indicators/indicator-details/GHO/prevalence-of-smoking-any-tobacco-product-among-persons-aged-=-15-years).

I sent a clarification request to the GHO (Aug 3rd 2023) - awaitting for response.

<div class="alert alert-block alert-info">
<b></b> While getting a clarification from GHO I'm going to work based on the assumption that most of these indicators are coming from the same report WHO Global Report on Trends in Tobacco Smoking 2000-2025. 
    
Then I'll choose the indicators that maybe are going to provide me more data about and explore deeper those. </div>

I looked for 'age' data regarding tobacco indicators. However, I did not find any indicator that contained that dimension.

 Tobacco use is indeed a significant contributor to a wide range of non-communicable diseases (NCDs) and is a leading cause of preventable illness and death worldwide. Non-communicable diseases are chronic conditions that are not caused by infectious agents but rather result from a combination of genetic, lifestyle, and environmental factors. These diseases include cardiovascular diseases (like heart disease and stroke), cancer, chronic respiratory diseases (such as chronic obstructive pulmonary disease), and diabetes. [Division of Global Health Protection, Global Health, Centers for Disease Control and Prevention]('https://www.cdc.gov/globalhealth/healthprotection/ncd/tobacco.html').

The harmful effects of tobacco use are primarily attributed to the various toxic substances present in tobacco products, such as nicotine, tar, and carbon monoxide. These substances can damage organs and tissues in the body and increase the risk of developing NCDs. It's also worth noting that secondhand smoke exposure, which occurs when non-smokers breathe in smoke from tobacco products, is also harmful and can lead to similar health risks.

**Indicators**

- NCD_UNDER70	Premature deaths due to noncommunicable diseases (NCD) as a proportion of all NCD deaths	
- SA_0000001807	Cancer, age-standardized death rates (15+), per 100,000 population
- SDG_SH_DTH_RNCOM	Number of deaths attributed to non-communicable diseases, by type of disease and sex

According with [Canadian Cancer Society](https://cancer.ca/en/cancer-information/reduce-your-risk/live-smoke-free/what-you-need-to-know-about-second-hand-smoke) Second-hand smoke is what smokers breathe out and into the air. It’s also the smoke that comes from a burning cigarette, cigar or pipe. Second-hand smoke has the same chemicals in it as the tobacco smoke breathed in by a smoker. Hundreds of the chemicals in second-hand smoke are toxic. More than 70 of them have been shown to cause cancer in human studies or lab tests. Every year, about 800 Canadian non-smokers die from second-hand smoke.

- SHS_4	Second-hand smoke attributable deaths
- SHS_6	Second-hand smoke attributable deaths per 100'000 capita
- SHS_8	Second-hand smoke attributable deaths ('000) in children under 5 years
- SHS_9	Second-hand smoke attributable deaths per 100'000 children under 5 years

#### Summarizing the indicators exploration:

**Dataframes to work with in the dashboard:**

| Indicator Code            | Indicator Name                                                                           |
|---------------------------|------------------------------------------------------------------------------------------|
| M_Est_smk_curr_std:  | Estimate of current tobacco use prevalence (%)                                           |
| P_Group:             | Protecting people from tobacco smoke                                                     |
| O_Group:             | Offering help to quit tobacco use                                                        |
| NCD_UNDER70:         | Premature deaths due to noncommunicable diseases (NCD) as a proportion of all NCD deaths |

#### Indicators Dataframes

In [14]:
# Create a for loop to create the urls for the indicators I found exploring 'deaths' and the indicators I found worthy before.

IndicatorCodes = ['M_Est_smk_curr_std', 'P_Group', 'O_Group', 'NCD_UNDER70']

urls = []

for Codes in IndicatorCodes:
    # Create the URLs
    url = f"https://ghoapi.azureedge.net/api/{Codes}"
    urls.append(url)
    
urls

['https://ghoapi.azureedge.net/api/M_Est_smk_curr_std',
 'https://ghoapi.azureedge.net/api/P_Group',
 'https://ghoapi.azureedge.net/api/O_Group',
 'https://ghoapi.azureedge.net/api/NCD_UNDER70']

In [15]:
# Create a for loop to retrieve the data and transform it into dataframes

df_dictionary = {}

for url in urls:
    response = requests.get(url)

    # Check the response status code
    if response.status_code == 200:
        resp = response.json()
        data = resp['value']            
        # Transform the json responses into dataframes.
        df = pd.DataFrame(data)  
        # Name the df with the indicator code 
        df_name = f"df_{url.split('/')[-1]}"
        # Include each name df into a dictionary
        df_dictionary[df_name] = df
        
    else:
        print("Request failed with status code:", response.status_code)

        # print the dictionary of dataframes.        
print(df_dictionary.keys())

dict_keys(['df_M_Est_smk_curr_std', 'df_P_Group', 'df_O_Group', 'df_NCD_UNDER70'])

In [16]:
# Extract the dfs from the dictionary

df_M_Est_smk_curr_std = df_dictionary['df_M_Est_smk_curr_std']
df_P_Group = df_dictionary['df_P_Group']
df_O_Group = df_dictionary['df_O_Group']
df_NCD_UNDER70 = df_dictionary['df_NCD_UNDER70']

In [17]:
# print the shape

for df in [df_M_Est_smk_curr_std, df_P_Group, df_O_Group, df_NCD_UNDER70]:
    print(f'{df.shape[0]} rows and {df.shape[1]} columns')

4428 rows and 23 columns
1560 rows and 23 columns
1560 rows and 23 columns
11640 rows and 23 columns

### 3.2 Processing

Keep just the columns of interest and renamed to better communication

#### Countries

In [18]:
# Countries dataframe
countries.head(2)

,Code,Title,ParentDimension,Dimension,ParentCode,ParentTitle
0,ABW,Aruba,REGION,COUNTRY,AMR,Americas
1,AFG,Afghanistan,REGION,COUNTRY,EMR,Eastern Mediterranean

In [19]:
# Rename the columns
countries.rename(columns = {'Code': 'Country Code', 'Title': 'Country', 'ParentTitle': 'WHO Region'}, inplace = True)

In [20]:
# Select specific columns using the .loc indexer
final_countries = countries.loc[:, ['Country Code', 'Country', 'WHO Region']]

In [21]:
# Sanity check
final_countries.head(3)

  Country Code      Country             WHO Region
0          ABW        Aruba               Americas
1          AFG  Afghanistan  Eastern Mediterranean
2          AGO       Angola                 Africa

#### Estimate Average Smoking Prevalence

In [22]:
# Estimate of current tobacco use prevalence (%) dataframe
df_M_Est_smk_curr_std.head(1)

,Id,IndicatorCode,SpatialDimType,SpatialDim,TimeDimType,TimeDim,Dim1Type,Dim1,Dim2Type,Dim2,...,DataSourceDim,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd
0,27794728,M_Est_smk_curr_std,COUNTRY,DZA,YEAR,2020,SEX,BTSX,None,None,...,None,15.2,15.2,None,None,Projected from surveys completed prior to 2020.,2022-01-17T09:30:38.763+01:00,2020,2020-01-01T00:00:00+01:00,2020-12-31T00:00:00+01:00

In [23]:
# Rename the columns
df_M_Est_smk_curr_std.rename(columns = {'SpatialDim': 'Country Code', 'ParentTitle': 'WHO Region', 'TimeDim' : 'Year', 'Dim1': 'Sex', 'Value': 'Prevalence'}, inplace = True)

In [24]:
# Select specific columns using the .loc indexer
final_prevalence = df_M_Est_smk_curr_std.loc[:, ['Country Code', 'Year', 'Sex', 'Prevalence']]

In [25]:
# Sanity check
final_prevalence.head(3)

  Country Code  Year   Sex Prevalence
0          DZA  2020  BTSX       15.2
1          BEN  2020  BTSX        4.7
2          BWA  2020  BTSX         15

#### Protecting people from tobacco smoke

In [26]:
# MPOWER indicator
df_P_Group.head(1)

,Id,IndicatorCode,SpatialDimType,SpatialDim,TimeDimType,TimeDim,Dim1Type,Dim1,Dim2Type,Dim2,...,DataSourceDim,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd
0,30006027,P_Group,COUNTRY,AFG,YEAR,2007,None,None,None,None,...,None,3,None,None,None,None,2022-09-29T14:10:49.153+02:00,2007,2007-01-01T00:00:00+01:00,2007-12-31T00:00:00+01:00

In [27]:
# Rename the columns
df_P_Group.rename(columns = {'SpatialDim': 'Country Code', 'ParentTitle': 'WHO Region', 'TimeDim':'Year', 'Value': 'Protection_score'}, inplace = True)

In [28]:
# Select specific columns using the .loc indexer
final_protecting = df_P_Group.loc[:, ['Country Code', 'Year', 'Protection_score']]

In [29]:
# Sanity check
final_protecting.head(3)

  Country Code  Year Protection_score
0          AFG  2007                3
1          AFG  2008                3
2          AFG  2010                3

#### Offering help to quit tobacco use

In [30]:
# MPOWER indicator
df_O_Group.head(1)

,Id,IndicatorCode,SpatialDimType,SpatialDim,TimeDimType,TimeDim,Dim1Type,Dim1,Dim2Type,Dim2,...,DataSourceDim,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd
0,30004467,O_Group,COUNTRY,AFG,YEAR,2007,None,None,None,None,...,None,3,None,None,None,None,2022-09-29T14:10:35.44+02:00,2007,2007-01-01T00:00:00+01:00,2007-12-31T00:00:00+01:00

In [31]:
# Rename the columns
df_O_Group.rename(columns = {'SpatialDim': 'Country Code', 'ParentTitle': 'WHO Region', 'TimeDim':'Year', 'Value': 'Help_score'}, inplace = True)

In [32]:
# Select specific columns using the .loc indexer
final_offeringhelp = df_O_Group.loc[:, ['Country Code', 'Year', 'Help_score']]

In [33]:
# Sanity check
final_offeringhelp.head(3)

  Country Code  Year Help_score
0          AFG  2007          3
1          AFG  2008          3
2          AFG  2010          3

#### Premature deaths due to noncommunicable diseases (NCD) as a proportion of all NCD deaths

In [34]:
# NDC: Noncommunicable diseases
df_NCD_UNDER70.head(1)

,Id,IndicatorCode,SpatialDimType,SpatialDim,TimeDimType,TimeDim,Dim1Type,Dim1,Dim2Type,Dim2,...,DataSourceDim,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd
0,25578824,NCD_UNDER70,COUNTRY,AFG,YEAR,2000,SEX,MLE,GHECAUSES,GHE060,...,None,72.8 [55.8-83.5],72.78874,55.84165,83.46061,None,2021-03-10T15:22:19.27+01:00,2000,2000-01-01T00:00:00+01:00,2000-12-31T00:00:00+01:00

In [35]:
# Rename the columns
df_NCD_UNDER70.rename(columns = {'SpatialDim': 'Country Code','TimeDim':'Year', 'Dim1':'Sex', 'NumericValue':'PrematureDeaths/NCD'}, inplace = True)

In [36]:
# Select specific columns using the .loc indexer
final_premature_deaths = df_NCD_UNDER70.loc[:, ['Country Code', 'Year', 'Sex', 'PrematureDeaths/NCD']]

In [37]:
# Sanity check
final_premature_deaths.head(3)

  Country Code  Year  Sex  PrematureDeaths/NCD
0          AFG  2000  MLE             72.78874
1          AFG  2001  MLE             72.56174
2          AFG  2002  MLE             72.96648

Now concatenate the dataframes:

In [40]:
# Merging the DataFrames: final_countries, final_prevalence, final_protecting, final_offeringhelp and final_premature_deaths.

merged_df = final_countries.merge(final_prevalence, on=['Country Code'])
merged_df = merged_df.merge(final_premature_deaths, on=['Country Code','Year','Sex'])
merged_df = merged_df.merge(final_protecting, on=['Country Code','Year'])
merged_df = merged_df.merge(final_offeringhelp, on=['Country Code','Year'])

In [41]:
merged_df

,Country Code,Country,WHO Region,Year,Sex,Prevalence,PrematureDeaths/NCD,Protection_score,Help_score
0,AFG,Afghanistan,Eastern Mediterranean,2010,BTSX,14,70.07750,3,3
1,AFG,Afghanistan,Eastern Mediterranean,2010,MLE,23.4,72.69907,3,3
2,AFG,Afghanistan,Eastern Mediterranean,2010,FMLE,4.6,67.53152,3,3
3,AFG,Afghanistan,Eastern Mediterranean,2018,BTSX,10.2,66.55612,5,3
4,AFG,Afghanistan,Eastern Mediterranean,2018,MLE,17.8,70.05332,5,3
...,...,...,...,...,...,...,...,...,...
943,ZWE,Zimbabwe,Africa,2010,MLE,27.4,72.20275,3,3
944,ZWE,Zimbabwe,Africa,2010,FMLE,1.6,57.50541,3,3
945,ZWE,Zimbabwe,Africa,2018,BTSX,11.4,61.57020,3,4
946,ZWE,Zimbabwe,Africa,2018,MLE,21.7,68.98773,3,4
947,ZWE,Zimbabwe,Africa,2018,FMLE,1,55.75720,3,4

Great! Now is easier to deal with the data and build the graphs to the dashboard.